body > h2 {
    margin-bottom: 2rem;
}

.players {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    width: fit-content;
    margin: 0 auto 2rem;
    padding: 1rem 2rem;
    & button {
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
        padding: .4rem .5rem;
        background-color: beige;
        &:hover {
            background-color: darkgray;
        }
        &:disabled {
            cursor: default;
            background-color: beige;
            color: black;
            border-color: black;
            &.selected {
                background-color: yellow;
            }
        }
    }
}

.players:before {
    content: 'Players:';
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.players:not(:has(.selected)) {
    position: relative;
    padding-bottom: 3.5rem;
}

.players:not(:has(.selected)):after {
    content: 'Select yourself from the list';
    position: absolute;
    color: yellow;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.main-section {
    width: fit-content;
    margin: 0 auto;
    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    & h3 {
        color: white;
    }
}

.map-vote {
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    & li {
        display: flex;
        flex-direction: column;
        gap: .1rem;
    }
    & img {
        width: 100%;
        max-width: 30rem;
    }
    & button {
        margin: 0 auto;
        padding: .2rem;
    }
}

.map-image-placeholder {
    width: 7rem;
    height: 7rem;
    background-color: beige;
    &::after {
        content: 'Click to see map';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: black;
        padding: 1.5rem;
        transition: all 0.2s;
    }
    &:hover::after {
        background-color: darkgray;
    }
}

a:has(.map-image-placeholder) {
    text-decoration: none;
}
