@import url('https://fonts.googleapis.com/css2?family=Roboto');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left, darkmagenta, black);
    color: white;
}

.banner {
    color: black;
    background-color: coral;
    padding: .5rem;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    color: yellow;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    margin: 1rem;
}

body > h2 {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

a {
    color: yellow;
}

ul {
    list-style-type: none;
}

.map input {
    margin-right: 1.5rem;
}

button {
    cursor: pointer;
    transition: all 100ms;
    &:hover {
        background-color: darkgray;
    }
}

.card {
    background-color: darkmagenta;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: -4px -4px 40px rgba(255, 255, 0, 0.3) inset;
}
