body > h2 {
    margin-bottom: 2rem;
}

.players {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    width: fit-content;
    margin: 0 auto 2rem;
    padding: 1rem 2rem;
    & button {
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
        padding: .4rem .5rem;
        background-color: beige;
        &:hover {
            background-color: darkgray;
        }
        &:disabled {
            cursor: default;
            background-color: beige;
            color: black;
            border-color: black;
            &.selected {
                background-color: yellow;
            }
        }
        &.current {
            scale: 1.1;
            outline: 3px solid black;
            outline-offset: 0;
            border: none;
            animation: border-blink 1.3s infinite ease-in-out;
        }
        &.cancel-selection {
            position: absolute;
            top: -4px;
            right: 2px;
            background: none;
            border: none;
            color: red;
            padding: 0;
            font-size: 1rem;
        }
    }
    & li {
        position: relative;
    }
}

@keyframes border-blink {
    0%, 100% {
        outline-color: black;
        outline-offset: 0px;
    }
    50% {
        outline-color: transparent;
        outline-offset: 0px;
    }
}

.players:before {
    content: 'Players:';
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.players.unselected {
    position: relative;
    padding-bottom: 3.5rem;
}

.players.unselected:after {
    content: 'Select yourself from the list';
    position: absolute;
    color: yellow;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.main-section {
    width: fit-content;
    margin: 0 auto;
    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    & h3 {
        color: white;
    }
    & .message {
        margin-bottom: 0;
    }
}

.map-vote {
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    & li {
        display: flex;
        flex-direction: column;
        gap: .1rem;
        position: relative;
    }
    & h4:not([title=""]) {
        text-decoration: underline;
    }
    & img {
        width: 100%;
        max-width: 30rem;
    }
    & button {
        margin: 0 auto;
        padding: .2rem;
    }
    & button:disabled:hover {
        background-color: inherit;
        cursor: default;
        border: inherit;
    }
    & button:has(+ input[type="file"]) {
        position: absolute;
        top: 7.8rem;
        display: none;
        &:hover {
            display: block;
        }
    }
}

.map-image-placeholder {
    width: 7rem;
    height: 7rem;
    background-color: beige;
    &::after {
        content: 'Click to see map';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: black;
        padding: 1.5rem;
        transition: all 0.2s;
    }
    &:hover::after {
        background-color: darkgray;
    }
}

a:has(.map-image-placeholder) {
    text-decoration: none;
    &:hover ~ button:has(+ input[type="file"]) {
        display: block;
    }
}

.vote-feedback {
    text-align: center;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    color: yellow;
}

.map-vote .conclude-voting {
    display: block;
    margin: 1.5rem auto 0;
    padding: .7rem;
    font-size: 1.4rem;
    border-radius: 15px;
    position: relative;
}

.break-tie-dialog {
    position: absolute;
    background-color: #bc00bc;
    top: 0;
    left: 50%;
    translate: -50% -105%;
    padding: .5rem;
    border-radius: 15px;
    cursor: default;
    & h2 {
        font-size: 1.5rem;
        width: max-content;
        margin-bottom: .5rem;
        color: white;
    }
}

.banning {
    position: relative;
    & h2 span {
        font-size: 1.9rem;
        padding: 0 0.25rem;
        color: white;
    }
    & ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 2rem;
        justify-content: center;
        max-width: 71rem;
        @media (max-width: 74rem) {
            max-width: min-content;
        }
    }
    & li {
        text-align: center;
    }
    & a:has(img) {
        display: block;
        width: min(35rem, 100vw - 4rem);
        aspect-ratio: 35 / 25;
        background-color: #600060;
        border-radius: 20px;
        transition: all 0.2s;
        margin-bottom: 1rem;
        & img {
            transition: all 0.2s;
        }
        &:hover {
            background-color: #530053;
            & img {
                transform: scale(1.05);
            }
        }
    }
    & img {
        width: 100%;
        border-radius: 20px;
    }
    & label:has(+ input[type="checkbox"]) {
        font-family: "Roboto", sans-serif;
        background-color: yellow;
        color: black;
        padding: 0.5rem;
        font-size: 2rem;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background-color: orange;
        }
        &:has(+ input[type="checkbox"]:checked) {
            background-color: #00ff00;
            &:hover {
                background-color: #00bb00;
            }
        }
    }
    & input[type="checkbox"] {
        display: none;
    }
    & button {
        display: block;
        margin: 3rem auto 1.5rem;
        padding: 1rem;
        font-size: 2.5rem;
        border-radius: 15px;
        color: black;
        background-color: orange;
        transition: all 0.2s;
        &:hover {
            background-color: #ffbb00;
        }
        &:disabled {
            background-color: darkgray;
            color: black;
            cursor: default;
            &:hover {
                background-color: darkgray;
            }
        }
    }
    & .banning-reference-map {
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-decoration: underline;
        & .banning-reference-image {
            opacity: 0;
            display: none;
            margin-top: 1.3rem;
            transition: opacity 0.3s 0.2s;
            .banning-reference-image:hover {
                opacity: 1;
                display: block;
            }
        }
        & a {
            position: absolute;
            right: 0;
            display: inline-block;
            width: max-content;
            &:hover + .banning-reference-image {
                opacity: 1;
                display: block;
            }
        }
        @media (max-width: 1184px) {
            top: -1.3rem;
        }
    }
}

.draft-page {
    & h2 {
        text-align: center;
        margin-bottom: 1rem;
        & span {
            font-size: 1.9rem;
            color: white;
            padding-right: .5rem;
        }
    }
    & .card {
        width: fit-content;
        margin: 0 auto 1rem;

        &.speaker {
            & img {
                width: 10rem;
                border-radius: 5px;
                box-shadow: 2px 2px 6px #222;
                transition: all 0.2s;
            }
            & p {
                text-align: center;
                font-family: "Roboto", sans-serif;
            }
            & button {
                border: none;
                background-color: transparent;
                margin-top: .2rem;
                position: relative;
                &:enabled:hover::after {
                    content: 'Select';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 1.5rem;
                    text-shadow: 2px 2px 6px black;
                    opacity: 0;
                    animation: speaker-fade-in 0.2s forwards;
                    pointer-events: none;
                }
                &:enabled img:hover {
                    translate: 1px 1px;
                    box-shadow: none;
                }
                &:disabled {
                    cursor: default;
                    img {
                        opacity: 0.6;
                    }
                }
            }
        }
        
        &.slices {
            width: fit-content;
            position: relative;
            @media (max-width: 512px) {
                /*width: 100%;*/
            }
            & img {
                border-radius: 10px;
            }
            & .map-image-placeholder {
                position: relative;
                height: 34rem;
                border-radius: 10px;
            }
            & .map-image-placeholder, & img {
                width: 30rem;
                @media (max-width: 550px) {
                    width: 24rem;
                    height: 27rem;
                }
                @media (max-width: 425px) {
                    width: 20rem;
                    height: 23rem;
                }
                @media (max-width: 355px) {
                    width: 15rem;
                    height: 17rem;
                }
            }
            & .has-image.hover {
                position: relative;
            }
            & .has-image.hover::after, & .map-image-placeholder::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: #530053;
                background-image: url("/images/grid-4-6.png");
                background-position: 0 130%;
                background-size: 100%;
                border-radius: 10px;
                box-shadow: inset 0 0 20px #220022;
            }
            & .has-image.hover::after {
                top: -32.5rem;
                background-position: 3px 125%;
                background-size: 99%;
                @media (max-width: 550px) {
                    top: -26rem;
                    background-position: -3px 130%;
                    background-size: 101%;
                }
                @media (max-width: 425px) {
                    top: -22rem;
                    background-position: -2px 130%;
                }
                @media (max-width: 355px) {
                    top: -16rem;
                    background-size: 102%;
                }
            }
            &.large {
                & a:hover::after, & .map-image-placeholder::after {
                    background-image: url("/images/grid-7-8.png");
                    background-position: 0 -25%;
                }
                & .seat-hex {
                    --top: 2.5rem;
                    --vertical-center: 52%;
                    --second-row: 8.2rem;
                    --side: 1.2rem;
                    --inner-side: 4.4rem;
                    --second-from-bottom: 6.8rem;
                    --s4-right: 2.2rem; /* because this was acting up */
                    width: 4.25rem;
                    height: 4.25rem;
                    font-size: 1.2rem;
                    
                    @media (max-width: 550px) {
                        --top: 2.6rem;
                        --vertical-center: 53%;
                        --second-row: 7rem;
                        --side: 1.2rem;
                        --inner-side: 3.7rem;
                        --second-from-bottom: 5.4rem;
                        --s4-right: 2rem;
                        --bottom: 1rem;
                        width: 3.4rem;
                        height: 3.4rem;
                        font-size: 1rem;
                    }
                    @media (max-width: 425px) {
                        --top: 2.5rem;
                        --vertical-center: 52%;
                        --second-row: 6.2rem;
                        --inner-side: 3.3rem;
                        --second-from-bottom: 5.3rem;
                        --s4-right: 1.8rem;
                        --bottom: 1.6rem;
                        width: 2.8rem;
                        height: 2.8rem;
                        font-size: .8rem;
                    }
                    @media (max-width: 355px) {
                        --top: 2.5rem;
                        --vertical-center: 53%;
                        --second-row: 5.3rem;
                        --side: 1.1rem;
                        --inner-side: 2.7rem;
                        --second-from-bottom: 4rem;
                        --s4-right: 1.65rem;
                        --bottom: 1.2rem;
                        width: 2.1rem;
                        height: 2.1rem;
                        font-size: .6rem;
                    }
                }
                & .seat-2 {
                    right: var(--inner-side);
                }
                & .seat-3 {
                    top: var(--vertical-center);
                    transform: translateY(-50%);
                }
                & .seat-4 {
                    bottom: var(--second-from-bottom);
                    left: unset;
                    right: var(--s4-right);
                }
                & .seat-5 {
                    bottom: var(--bottom);
                    left: 50%;
                    transform: translateX(-50%);
                }
                & .seat-6 {
                    top: unset;
                    bottom: var(--second-from-bottom);
                    left: var(--inner-side);
                }
                & .seat-7 {
                    top: var(--vertical-center);
                    transform: translateY(-50%);
                    left: var(--side);
                }
                & .seat-8 {
                    top: var(--second-row);
                    left: var(--inner-side);
                }
            }
            & .seat-hex {
                --top: 3rem;
                --second-row: 9.9rem;
                --side: 1.4rem;
                --bottom: 1.35rem;
                --second-from-bottom: 8.4rem;
                position: absolute;
                clip-path: polygon(
                    25% 5%, 75% 5%,
                    100% 50%,
                    75% 95%, 25% 95%,
                    0% 50%
                );
                z-index: 2;
                width: 5.3rem;
                height: 5.3rem;
                background-color: black;
                border: none;
                visibility: hidden;
                transition: opacity, background-color, color 0.2s;
                
                color: yellow;
                font-size: 1.5rem;
                font-family: "Roboto", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:disabled {
                    opacity: 0.4;
                    pointer-events: none;
                }
                
                &:enabled:hover {
                    background-color: orange;
                    color: transparent;
                    &::after {
                        content: "Select";
                        color: black;
                        position: absolute;
                    }
                }

                @media (max-width: 550px) {
                    --top: 2.6rem;
                    --second-row: 8.2rem;
                    --side: 1.3rem;
                    --second-from-bottom: 7rem;
                    width: 4.3rem;
                    height: 4.3rem;
                    font-size: 1.2rem;
                }
                @media (max-width: 425px) {
                    --top: 3.1rem;
                    --second-row: 7.8rem;
                    --side: 1.3rem;
                    --bottom: 1.2rem;
                    --second-from-bottom: 5.8rem;
                    width: 3.6rem;
                    height: 3.6rem;
                    font-size: 1rem;
                }
                @media (max-width: 355px) {
                    --top: 2.6rem;
                    --second-row: 6rem;
                    --side: 1.2rem;
                    --second-from-bottom: 4.6rem;
                    width: 2.8rem;
                    height: 2.8rem;
                    font-size: 0.8rem;
                }
            }
            & .has-image.hover ~ .seat-hex, & a:not(.has-image) ~ .seat-hex {
                visibility: visible;
            }
            
            /* defined as a seat would be if a 6-player map */
            & .seat-1 {
                top: var(--top);
                left: 50%;
                transform: translateX(-50%);
            }
            & .seat-2 {
                top: var(--second-row);
                right: var(--side);
            }
            & .seat-3 {
                bottom: var(--second-from-bottom);
                right: var(--side);
            }
            & .seat-4 {
                bottom: var(--bottom);
                left: 50%;
                transform: translateX(-50%);
            }
            & .seat-5 {
                bottom: var(--second-from-bottom);
                left: var(--side);
            }
            & .seat-6 {
                top: var(--second-row);
                left: var(--side);
            }
            
            /* 4 player games are a special case */
            & .p4-seat-1 {
                top: 14.4rem;
                right: var(--side);
            }
            & .p4-seat-2 {
                bottom: 3.8rem;
                right: 9.3rem;
            }
            & .p4-seat-3 {
                bottom: 13rem;
                left: var(--side);
            }
            & .p4-seat-4 {
                top: 5.3rem;
                left: 9.4rem;
            }
            @media (max-width: 550px) {
                .p4-seat-1 {
                    top: 11.9rem;
                }
                .p4-seat-2 {
                    bottom: 3.2rem;
                    right: 7.6rem;
                }
                .p4-seat-3 {
                    bottom: 10.5rem;
                }
                .p4-seat-4 {
                    top: 4.5rem;
                    left: 7.6rem;
                }
            }
            @media (max-width: 425px) {
                .p4-seat-1 {
                    top: 10.9rem;
                }
                .p4-seat-2 {
                    bottom: 2.7rem;
                    right: 6.5rem;
                }
                .p4-seat-3 {
                    bottom: 8.9rem;
                }
                .p4-seat-4 {
                    top: 4.7rem;
                    left: 6.5rem;
                }
            }
            @media (max-width: 355px) {
                .p4-seat-1 {
                    top: 8.3rem;
                }
                .p4-seat-2 {
                    bottom: 2.3rem;
                    right: 5rem;
                }
                .p4-seat-3 {
                    bottom: 7rem;
                }
                .p4-seat-4 {
                    top: 3.8rem;
                    left: 5.1rem;
                }
            }
            
            & .occupied {
                &.md-name {
                    font-size: 1.2rem;
                }
                &.lg-name {
                    font-size: 1.0rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    padding-left: 5px;
                }
            }
        }

        &.factions img {
            width: 15rem;
        }
        &.factions button {
            border: none;
            background-color: #7a017a;
            position: relative;
            min-width: 15rem;
            min-height: 10rem;
            &:hover::after {
                content: 'Expand';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                text-shadow: 0 0 3px yellow;
            }
            &:not(:hover)[data-label]:not([data-label=""])::after {
                content: attr(data-label);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                text-shadow: 0 0 3px yellow;
            }
        }
    }
    & .expanded-faction-view {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        display: flex;
        flex-direction: column;
        z-index: 3;
        & img {
            width: 100%;
            max-width: 40rem;
        }
        & button {
            display: block;
            margin: 0 auto;
            padding: .5rem;
            font-size: 2rem;
            border-radius: 15px;
            color: black;
            background-color: orange;
            transition: all 0.2s;
            &:hover {
                background-color: #ffbb00;
            }
            &:disabled {
                background-color: darkgray;
                color: black;
                cursor: default;
                opacity: .8;
                &:hover {
                    background-color: darkgray;
                    opacity: .8;
                }
            }
            &.close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                padding: 0 .5rem;
            }
        }
    }
}

@keyframes speaker-fade-in {
    from {
        opacity: 0;
        translate: 0 0;
    }
    to {
        opacity: 1;
        translate: 1px 1px;
    }
}

.draft-page-factions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 31rem;
    margin: 0 auto;
    @media (max-width: 527px) {
        max-width: 15rem;
    }
}
