body > h2 {
    margin-bottom: 2rem;
}

.players {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    width: fit-content;
    margin: 0 auto 2rem;
    padding: 1rem 2rem;
    & button {
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
        padding: .4rem .5rem;
        background-color: beige;
        &:hover {
            background-color: darkgray;
        }
        &:disabled {
            cursor: default;
            background-color: beige;
            color: black;
            border-color: black;
            &.selected {
                background-color: yellow;
            }
        }
    }
}

.players:before {
    content: 'Players:';
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.players.unselected {
    position: relative;
    padding-bottom: 3.5rem;
}

.players.unselected:after {
    content: 'Select yourself from the list';
    position: absolute;
    color: yellow;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.main-section {
    width: fit-content;
    margin: 0 auto;
    & h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    & h3 {
        color: white;
    }
    & .message {
        margin-bottom: 0;
    }
}

.map-vote {
    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    & li {
        display: flex;
        flex-direction: column;
        gap: .1rem;
        position: relative;
    }
    & h4:not([title=""]) {
        text-decoration: underline;
    }
    & img {
        width: 100%;
        max-width: 30rem;
    }
    & button {
        margin: 0 auto;
        padding: .2rem;
    }
    & button:disabled:hover {
        background-color: inherit;
        cursor: default;
        border: inherit;
    }
    & button:has(+ input[type="file"]) {
        position: absolute;
        top: 7.8rem;
        display: none;
        &:hover {
            display: block;
        }
    }
}

.map-image-placeholder {
    width: 7rem;
    height: 7rem;
    background-color: beige;
    &::after {
        content: 'Click to see map';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: black;
        padding: 1.5rem;
        transition: all 0.2s;
    }
    &:hover::after {
        background-color: darkgray;
    }
}

a:has(.map-image-placeholder) {
    text-decoration: none;
    &:hover ~ button:has(+ input[type="file"]) {
        display: block;
    }
}

.vote-feedback {
    text-align: center;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    color: yellow;
}

.map-vote .conclude-voting {
    display: block;
    margin: 1.5rem auto 0;
    padding: .7rem;
    font-size: 1.4rem;
    border-radius: 15px;
    position: relative;
}

.break-tie-dialog {
    position: absolute;
    background-color: #bc00bc;
    top: 0;
    left: 50%;
    translate: -50% -105%;
    padding: .5rem;
    border-radius: 15px;
    cursor: default;
    & h2 {
        font-size: 1.5rem;
        width: max-content;
        margin-bottom: .5rem;
        color: white;
    }
}

.banning {
    & h2 span {
        font-size: 1.9rem;
        padding: 0 0.25rem;
        color: white;
    }
    & ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 2rem;
        justify-content: center;
        max-width: 71rem;
        @media (max-width: 74rem) {
            max-width: min-content;
        }
    }
    & li {
        text-align: center;
    }
    & a:has(img) {
        display: block;
        width: min(35rem, 100vw - 4rem);
        aspect-ratio: 35 / 25;
        background-color: #600060;
        border-radius: 20px;
        transition: all 0.2s;
        margin-bottom: 1rem;
        & img {
            transition: all 0.2s;
        }
        &:hover {
            background-color: #530053;
            & img {
                transform: scale(1.05);
            }
        }
    }
    & img {
        width: 100%;
        border-radius: 20px;
    }
    & label:has(+ input[type="checkbox"]) {
        font-family: "Roboto", sans-serif;
        background-color: yellow;
        color: black;
        padding: 0.5rem;
        font-size: 2rem;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background-color: orange;
        }
        &:has(+ input[type="checkbox"]:checked) {
            background-color: #00ff00;
            &:hover {
                background-color: #00bb00;
            }
        }
    }
    & input[type="checkbox"] {
        display: none;
    }
    & button {
        display: block;
        margin: 3rem auto 1.5rem;
        padding: 1rem;
        font-size: 2.5rem;
        border-radius: 15px;
        color: black;
        background-color: orange;
        transition: all 0.2s;
        &:hover {
            background-color: #ffbb00;
        }
        &:disabled {
            background-color: darkgray;
            color: black;
            cursor: default;
            &:hover {
                background-color: darkgray;
            }
        }
    }
}

.draft-page {
    & h2, & h3 {
        text-align: center;
        margin-bottom: 1rem;
    }
    & h3 {
        color: white;
    }
    & .card {
        width: fit-content;
        margin: 0 auto 1rem;

        & img {
            width: min(35rem, 100vw - 4rem);
        }
    }
}

.draft-page-factions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 71rem;
    margin: 0 auto;
    @media (max-width: 74rem) {
        max-width: min-content;
    }
}
